# Environment variables
.env
**/.env

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# Database dumps
*.sql

# Node modules
node_modules/
**/node_modules/

# OS files
.DS_Store
Thumbs.db

# Temp files
~$*


scripts/recordings